.slds-scrollable::-webkit-scrollbar {
    width: 10px;
    height: 10px
}

.slds-scrollable::-webkit-scrollbar:window-inactive {
    opacity: 0
}

.slds-scrollable::-webkit-scrollbar-thumb {
    background: #e0e5ee;
    border-radius: .5rem;
    box-shadow: #a8b7c7 0 0 0 1px inset
}

.slds-scrollable::-webkit-scrollbar-track {
    background: #a8b7c7
}

.slds-scrollable--y {
    -webkit-overflow-scrolling: touch;
    max-height: 100%;
    overflow: hidden;
    overflow-y: auto
}

.slds-scrollable--y::-webkit-scrollbar {
    width: 10px;
    height: 10px
}

.slds-scrollable--y::-webkit-scrollbar:window-inactive {
    opacity: 0
}

.slds-scrollable--y::-webkit-scrollbar-thumb {
    background: #e0e5ee;
    border-radius: .5rem;
    box-shadow: #a8b7c7 0 0 0 1px inset
}

.slds-scrollable--y::-webkit-scrollbar-track {
    background: #a8b7c7
}

.slds-scrollable--x {
    -webkit-overflow-scrolling: touch;
    max-width: 100%;
    overflow: hidden;
    overflow-x: auto
}

.slds-scrollable--x::-webkit-scrollbar {
    width: 10px;
    height: 10px
}

.slds-scrollable--x::-webkit-scrollbar:window-inactive {
    opacity: 0
}

.slds-scrollable--x::-webkit-scrollbar-thumb {
    background: #e0e5ee;
    border-radius: .5rem;
    box-shadow: #a8b7c7 0 0 0 1px inset
}

.slds-scrollable--x::-webkit-scrollbar-track {
    background: #a8b7c7
}

.slds-scrollable--x::-webkit-scrollbar-track,
.slds-scrollable--y::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
}

.slds-scrollable--x::-webkit-scrollbar-thumb,
.slds-scrollable--y::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1);
    box-shadow: none;
}

.material-icons.slds-button__icon {
    font-size: .875rem;
    vertical-align: text-bottom;
}