{{#graphdocPackage}}
<div class="slds-col-rule--top slds-p-around--large slds-section-title--divider">
    <p class="slds-text-align--right">
        <a href="{{{graphdocPackage.homepage}}}">graphdoc {{graphdocPackage.version}}</a>
    </p>
</div>
{{/graphdocPackage}}