<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link type="text/css" rel="stylesheet" href="./styles/graphdoc.css" />
    <link type="text/css" rel="stylesheet" href="./styles/code.css" />
    <title>{{title}}</title>
</head>
<body>
    <nav>{{>icon}}{{> nav}}</nav>
    <main>{{> main}}</main>
    <footer>{{> footer}}</footer>
</body>