{{!
 Only navs varaible is defined:
 @example:
    title: String,
    description: String,
    sections: [
        {
            title: String,
            description: String
        }

        -- MORE SECTIONS --
    ]
}}<section class="title">
    <h1 class="slds-text-heading--large">{{title}}</h1>
    <div class="gdoc-text--introduction slds-m-top--small slds-m-bottom--x-large">{{{description}}}</div>
</section>
{{#sections}}
<section>
<h2 class="slds-section__title slds-m-top--small">{{title}}</h3>
{{{description}}}
</section>
{{/sections}}